#legend {
  width: 276px;
}
#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 300px;
  right: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
  }
   
  #menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  }
   
  #menu a:last-child {
  border: none;
  }
   
  #menu a:hover {
  background-color: #f8f8f8;
  color: #404040;
  }
   
  #menu a.active {
  background-color: #3887be;
  color: #ffffff;
  }
   
  #menu a.active:hover {
  background: #3074a4;
  }

  .slidecontainer {
    width: 600px;
    margin: 0 auto;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 600px;
    height: 25px;
    background: #ffffff;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    bottom: 30px;
    position: absolute;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }