body { margin: 0; padding: 0; font-family: 'Noto Sans'}
#map { position: absolute; top: 0; bottom: 0; width: 70%; }
#infoPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
}
.infoPanel-header {
    font-size: 42px;
    font-weight: bold;
}
.infoPanel-content {
    margin-top: 10px;
}
hr {
    width: 80%;
}
h2 {
    font-size: 20px;
}

.map-overlay {
    position: absolute;
    bottom: 50px;
    left: 10px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
  }
  button {
    cursor: pointer;
    background-color: #F18320;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
  }
  button:hover {
    background-color: #0056b3;
  }